// This file is part of the materials accompanying the book
// "The Elements of Computing Systems" by Nisan and Schocken, 
// MIT Press 2004. Book site: http://www.idc.ac.il/tecs
// File name: projects/07/StackArithmetic/StackTest/StackTest.vm.
// Version: beta 1.4.

// Executes a sequence of arithmetic and logical operations
// on the stack. 
push constant 32767
neg
push constant 1
sub
push constant 32767
lt

push constant 32767
push constant 32767
neg
push constant 1
sub
gt

push constant 20000
neg
push constant 1
sub
push constant 30000
gt


push constant 20000
push constant 30000
neg
push constant 1
sub
gt

