function Main.main 3
push constant 2
pop local 0
push constant 5000
push constant 1
call Memory.poke 2
pop temp 0
push constant 5001
push constant 1
call Memory.poke 2
pop temp 0
label WHILE_EXP0
push local 0
push constant 11
lt
not
if-goto WHILE_END0
push constant 5000
push local 0
add
push constant 2
sub
call Memory.peek 1
pop local 1
push constant 5000
push local 0
add
push constant 1
sub
call Memory.peek 1
pop local 2
push constant 5000
push local 0
add
push local 1
push local 2
add
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
