function Snake.new 1
push constant 9
call Memory.alloc 1
pop pointer 0
call SnakeScreen.width 0
pop this 7
call SnakeScreen.height 0
pop this 8
push argument 0
pop this 0
push argument 1
pop this 1
push argument 0
push argument 2
sub
push constant 1
add
pop this 2
push argument 1
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push this 7
push this 8
call Math.multiply 2
call Array.new 1
pop this 6
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 7
push this 8
call Math.multiply 2
lt
not
if-goto WHILE_END0
push local 0
push this 6
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push argument 2
lt
not
if-goto WHILE_END1
push this 1
push this 7
call Math.multiply 2
push this 0
push local 0
sub
add
push this 6
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
sub
push this 1
call SnakeScreen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push pointer 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.draw 1
push argument 0
pop pointer 0
push pointer 0
push this 0
push this 1
call Snake.atPosition 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 5
push constant 0
return
label IF_FALSE0
push this 0
push this 1
call SnakeScreen.drawPixel 2
pop temp 0
push this 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 4
goto IF_END1
label IF_FALSE1
push this 3
push this 7
call Math.multiply 2
push this 2
add
push this 6
add
pop pointer 1
push that 0
pop local 0
push this 2
push this 3
call SnakeScreen.clearPixel 2
pop temp 0
push this 3
push this 7
call Math.multiply 2
push this 2
add
push this 6
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push constant 1
sub
pop this 3
label IF_FALSE2
push local 0
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push constant 1
add
pop this 3
label IF_FALSE3
push local 0
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
push constant 1
sub
pop this 2
label IF_FALSE4
push local 0
push constant 3
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push constant 1
add
pop this 2
label IF_FALSE5
label IF_END1
push constant 0
return
function Snake.moveUp 0
push argument 0
pop pointer 0
push this 1
push this 7
call Math.multiply 2
push this 0
add
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
sub
pop this 1
push pointer 0
call Snake.draw 1
pop temp 0
push constant 0
return
function Snake.moveDown 0
push argument 0
pop pointer 0
push this 1
push this 7
call Math.multiply 2
push this 0
add
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
push pointer 0
call Snake.draw 1
pop temp 0
push constant 0
return
function Snake.moveLeft 0
push argument 0
pop pointer 0
push this 1
push this 7
call Math.multiply 2
push this 0
add
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
call Snake.draw 1
pop temp 0
push constant 0
return
function Snake.moveRight 0
push argument 0
pop pointer 0
push this 1
push this 7
call Math.multiply 2
push this 0
add
push this 6
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
add
pop this 0
push pointer 0
call Snake.draw 1
pop temp 0
push constant 0
return
function Snake.hitItself 0
push argument 0
pop pointer 0
push this 5
return
function Snake.getX 0
push argument 0
pop pointer 0
push this 0
return
function Snake.getY 0
push argument 0
pop pointer 0
push this 1
return
function Snake.atPosition 0
push argument 0
pop pointer 0
push argument 2
push this 7
call Math.multiply 2
push argument 1
add
push this 6
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Snake.lengthen 0
push argument 0
pop pointer 0
push constant 0
not
pop this 4
push constant 0
return
