function Wall.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
call SnakeScreen.width 0
pop this 0
call SnakeScreen.height 0
pop this 1
push constant 0
push constant 0
push this 0
push constant 1
sub
push constant 0
call SnakeScreen.drawLine 4
pop temp 0
push constant 0
push this 1
push constant 1
sub
push this 0
push constant 1
sub
push this 1
push constant 1
sub
call SnakeScreen.drawLine 4
pop temp 0
push constant 0
push constant 0
push constant 0
push this 1
push constant 1
sub
call SnakeScreen.drawLine 4
pop temp 0
push this 0
push constant 1
sub
push constant 0
push this 0
push constant 1
sub
push this 1
push constant 1
sub
call SnakeScreen.drawLine 4
pop temp 0
push pointer 0
return
function Wall.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Wall.atPosition 0
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
push argument 2
push constant 0
eq
or
push argument 1
push this 0
push constant 1
sub
eq
or
push argument 2
push this 1
push constant 1
sub
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
